.hero{
  position: relative;
  height: 500px;

  margin-bottom:-150px;

  .hero-image{
    height: 100%;
    width: 100%;
    object-fit: cover;

    position: absolute;
    z-index: 0
  }

  .hero-body{
    height: 100%;
    margin: 0 auto;

    position: absolute;
    z-index: 10;
    width: 100%;

    background: linear-gradient(transparent -20%,  var(--white) 100%);
    padding:50px;

    .hero-content{
      width: 80%;
      margin: 0px auto;

      display: flex;
      flex-direction: column;
      gap: 20px;

      h1, p{
        width: fit-content;
        padding:5px 15px;
        border-radius: 5px;
      }

      h1{
        margin-top: var(--header-height);
        font-size: 50px;
        line-height: 1;
        background: linear-gradient(135deg, var(--transparent-green), var(--transparent-yellow), var(--transparent-red))
      }

      p{
        &.Easy{
          background-color: var(--transparent-green);
          border: 2px solid var(--green);
        }

        &.Medium{
          background-color: var(--transparent-yellow);
          border: 5px solid var(--yellow);
        }
      }

      a{
        width: fit-content;
        padding:5px 15px;
        border-radius: 1000px;
        background-color: var(--white);
        border: 2px solid var(--orange);
        text-decoration: underline;
        text-decoration-color: var(--orange);
        /* font-size: 20px; */
        font-weight: bold;
        margin-top: 15px;
        margin-left:35px;
        position: relative;
        transition: all .3s ease;

        &:hover{
          padding-right:30px;
          background-color: var(--transparent-yellow);
        }

        span{
          transition: all .3s ease;
          position: absolute;
          opacity: 0;
        }

        &:hover span{
          transform: translateX(10px);
          opacity: 1
        }
      }
    }

  }
}

@media screen and (max-width: 768px) {
  .hero{
    .hero-body{
      padding: 20px;
      .hero-content{
        width: 100%;
        h1{
          font-size: 40px;
        }
      }
    }
  }
}
