header{
  background: var(--transparent-green);
  border-bottom: 2px solid var(--yellow);
  backdrop-filter: blur( 7px );

  position: fixed;
  z-index: 100;

  width:100%;
  height: var( --header-height);
  padding:5px 20px;

  img{
    height: 100%;
  }
}
