.food-item{
  /* min-width:250px; */
  width:18%;
  transition: all .3s ease;

  &:hover img{
    transform: scale(1.05);
  }

  &:hover p{
    text-decoration: underline;
    transform: translateY(-40px);
    background-color: var(--orange);
  }

  img{
    border-radius: 20px;
    aspect-ratio: 4/3;
    object-fit: cover;
    transition: all .3s ease;

    &.Easy{
      border: 5px solid var(--green);
    }

    &.Medium{
      border: 5px solid var(--yellow);
    }

    &.Hard{
      border: 5px solid var(--red);
    }
  }

  p{
    padding:10px;
    text-align: center;
    font-weight: bold;
    width: fit-content;
    margin: 0 auto;
    z-index: 50;
    background-color: transparent;
    border-radius: 10px;
    transition: all .3s ease;
  }
}
