@font-face {
  font-family: "header";
  src: url("./assets/Fonts/PermanentMarker-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "text";
  src: url("./assets/Fonts/Raleway-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root{
  --green: #6AB547;
  --red: #C21807;
  --yellow: #FFD64D;
  --orange: #FF8C00;
  --white: #ededed;
  --black: #121212;

  --transparent-green: #6AB547aa;
  --transparent-red: #C21807aa;
  --transparent-yellow: #FFD64Daa;
  --transparent-orange: #FF8C00aa;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

img, svg, video{
  display:block;
  height: auto;
  max-width: 100%;
}

body{
  min-height: 100dvh;
  background-color: var(--white);
  color: var(--black)
}

h1, h2, h3, h4{
  text-wrap: balance;
  font-family: 'header', sans-serif;
}

p{
  text-wrap: pretty;
  font-family: 'text', sans-serif;
}
