.food-list-container{
  padding-bottom: 70px;

  .food-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 2%;
    row-gap: 30px;
    justify-content: center;

    position: relative;
    z-index:20;

    width: 90%;
    margin: 0 auto;
  }
}
